@model ProyectoProMvc.Models.contacto

@{
    ViewData["Title"] = "Details";
}
<body class = "fondo">
<h2>Detalles</h2>

<div>
    <h4>contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.puesto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.puesto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cliente.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a class="btn btn-warning" asp-action="Index">Volvert</a>
</div>
</body>