@model ProyectoProMvc.Models.usuario

@{
    ViewData["Title"] = "Create";
}

<h2>Registro</h2>
  <h3>@ViewData["tipoUsuario"]</h3>
<h4>usuario</h4>
<body class = "fondo">
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarios" class="control-label"></label>
                <input asp-for="usuarios" class="form-control" />
                <span asp-validation-for="usuarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contrasena" class="control-label"></label>
                <input asp-for="contrasena" class="form-control" />
                <span asp-validation-for="contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoUsuario" class="control-label"></label>
                <select asp-for="tipoUsuario" name="tipoUsuario">
                <option>admin</option>
                <option>usuario</option>
                </select>
                <span asp-validation-for="tipoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-action="Index"> Volver</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
