@model ProyectoProMvc.Models.usuario

@{
    ViewData["Title"] = "Delete";
}
<body class = "fondo">
<h2>Eliminar</h2>

<h3>¿Seguro que deseas eliminiar este usuario?</h3>
<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.usuarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usuarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contrasena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contrasena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipoUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a class="btn btn-warning" asp-action="Index">Volver</a>
    </form>
</div>
</body>