@model ProyectoProMvc.Models.usuario

@{
    ViewData["Title"] = "Details";
}
<body class = "fondo">
<h2>Detalles</h2>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.usuarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usuarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contrasena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contrasena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipoUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a class="btn btn-warning" asp-action="Index">Volver</a>
</div>
</body>