@model IEnumerable<ProyectoProMvc.Models.usuario>

@{
    ViewData["Title"] = "Index";
}
<body class = "fondo">

<br>
<br>

<p>
    
    <a class="btn btn-success" asp-action="Create">Crear nuevo..</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.usuarios)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contrasena)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tipoUsuario)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoUsuario)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
        
}
    </tbody>
</table>
    <a class="btn btn-warning" asp-action="Admin"> Volver</a>
</body>