@model IEnumerable<ProyectoProMvc.Models.usuario>

@{
    ViewData["Title"] = "Login";
    Layout = "LayaoutInicial";
}
<body id = "login">
<div class="container">
  <h2>Login</h2>
  <form class="form-horizontal" asp-action="Login">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Usuario:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" placeholder="Ingrese el usuario" name="usuarios">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Contraseña:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Ingrese la contraseña" name="contrasena">
      </div>
    </div>
      
   <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
    </div>
  </form>
      @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>

</body>
