@model ProyectoProMvc.Models.reunion

@{
    ViewData["Title"] = "Delete";
}
<body class = "fondo">
<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar?</h3>
<div>
    <h4>reunion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tituloReunion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tituloReunion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.virtuals)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.virtuals)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usuario.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a class="btn btn-warning" asp-action="Index">Volver</a>
    </form>
</div>
</body>