@model ProyectoProMvc.Models.reunion

@{
    ViewData["Title"] = "Details";
}
<body class = "fondo">
<h2>Detalles</h2>

<div>
    <h4>reunion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tituloReunion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tituloReunion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.virtuals)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.virtuals)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usuario.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a class="btn btn-warning" asp-action="Index">Volver</a>
</div>
</body>