@model ProyectoProMvc.Models.soporte

@{
    ViewData["Title"] = "Delete";
}
<body class = "fondo">
<h2>Eliminar</h2>

<h3>¿Seguro que deseas eliminar?</h3>
<div>
    <h4>soporte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TituloProblema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TituloProblema)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuienReporta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuienReporta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cliente.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a class="btn btn-warning" asp-action="Index">Volver</a>
    </form>
</div>
</body>