@model ProyectoProMvc.Models.soporte

@{
    ViewData["Title"] = "Details";
}
<body class = "fondo">
<h2>Detalles</h2>

<div>
    <h4>soporte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TituloProblema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TituloProblema)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuienReporta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuienReporta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cliente.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a class="btn btn-warning" asp-action="Index">Volver</a>
</div>
</body>