﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}
#usuAdmin{
background-image: url("../images/thumb-1920-602223.jpg");
}
#principal{

    background-image: url("../images/F7E.jpg");
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 20px;
  
}

/* Carousel */
.carousel-caption p {
    font-size: 10px;
    line-height: 9.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".jpg"] {
    width: 100%;
    opacity:0.6;
}

/* QR code generator */
#qrCode {
    margin: 55px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
#login{
  background-image: url("../images/fondo-web-blanco.jpg");
}
.form-control{

    width: 42%;
}
#usuarioCorriente{
    background-image: url("../images/fondo-pantalla-pc-legend-zelda-breath-wild.jpg");
    
}
.fondo{
   background-image: url("../images/FONDO-GRIS-e1472480711572.jpg");
}