@model ProyectoProMvc.Models.cliente

@{
    ViewData["Title"] = "Create";
}
<body class = "fondo">
<h2>Crear</h2>

<h4>cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cedulaJuridica" class="control-label"></label>
                <input asp-for="cedulaJuridica" class="form-control" />
                <span asp-validation-for="cedulaJuridica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PgWeb" class="control-label"></label>
                <input asp-for="PgWeb" class="form-control" />
                <span asp-validation-for="PgWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccionFisica" class="control-label"></label>
                <input asp-for="direccionFisica" class="form-control" />
                <span asp-validation-for="direccionFisica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sector" class="control-label"></label>
                 <select asp-for="sector" name="sector">
                <option>Agricola</option>
                <option>Empresarial</option>
                <option>Domestico</option>
                <option>Privado</option>
                </select>
                <span asp-validation-for="sector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-action="Index">Volver</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
