@model ProyectoProMvc.Models.cliente

@{
    ViewData["Title"] = "Delete";
}
<body class = "fondo">
<h2>Eliminar</h2>

<h3>¿Seguro que deseas eliminar?</h3>
<div>
    <h4>cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cedulaJuridica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cedulaJuridica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PgWeb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PgWeb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.direccionFisica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.direccionFisica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sector)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sector)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a  class="btn btn-warning" asp-action="Index">Volver</a>
    </form>
</div>
</body>