@model ProyectoProMvc.Models.cliente

@{
    ViewData["Title"] = "Edit";
}
<body class = "fondo">
<h2>Editar</h2>

<h4>cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cedulaJuridica" class="control-label"></label>
                <input asp-for="cedulaJuridica" class="form-control" />
                <span asp-validation-for="cedulaJuridica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PgWeb" class="control-label"></label>
                <input asp-for="PgWeb" class="form-control" />
                <span asp-validation-for="PgWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccionFisica" class="control-label"></label>
                <input asp-for="direccionFisica" class="form-control" />
                <span asp-validation-for="direccionFisica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sector" class="control-label"></label>
                <input asp-for="sector" class="form-control" />
                <span asp-validation-for="sector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  class="btn btn-warning" sasp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>