@model IEnumerable<ProyectoProMvc.Models.cliente>

@{
    ViewData["Title"] = "Index";
}
<br>
<br>
<body class = "fondo">
<p>
    <a class="btn btn-success" asp-action="Create">Crear nuevo..</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cedulaJuridica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PgWeb)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.direccionFisica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sector)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cedulaJuridica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PgWeb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccionFisica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sector)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>